<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="base::layout(~{::section})">

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Sale Detail</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<section>
	<div class="container-fluid mt-5">
		<div class="alert alert-info text-center" role="status">
			Sales page is under progress.
		</div>
	</div>
</section>